<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Almacen.Properties.Settings.MiAlmacenConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=MiAlmacen;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Almacen.Properties.Settings.MiAlmacenConnectionString1"
            connectionString="Data Source=DESKTOP-8A84SN7\JULIOPC;Initial Catalog=MiAlmacen;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Almacen.Properties.Settings.MiAlmacenConnectionString2"
            connectionString="Data Source=.;Initial Catalog=MiAlmacen;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>